<div class="container home-container">
  <form>
    <div class="form-container">
    <div class="form-group">
      <input type="text" class="form-control" 
            placeholder="User Account ID" 
            name="loanAccountId"
            id="exampleInputEmail1" 
            [(ngModel)]="loanAccountId"
            aria-describedby="emailHelp">


            <span *ngIf="errMsg" class="errmsg">{{errMsg}}</span>
    </div>

    <div class="form-group">
        <input type="password" class="form-control" 
              placeholder="Password" 
              name="loanAccountId"
              id="exampleInputEmail2" 
              [(ngModel)]="pass"
              aria-describedby="emailHelp">
              
  
              <span *ngIf="errMsg" class="errmsg">{{errMsg}}</span>
      </div>
    <button type="submit" class="btn btn-primary submit-btn" (change)="clearErrMsg()" (click)="formSubmit()">Submit</button>
    <a routerLink='registration' class="registration-link">New User?</a>  
  </div>
  </form>
</div>
